<!DOCTYPE html>
<html>
<head>
    <title>Sign In Processing</title>
</head>
<body>
    <h2>Please select an option from the menu below:</h2>
    <ul>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign up</a></li>
        <li><a href="{{ url_for('connect') }}">Connect with your friends</a></li>
        <li><a href="{{ url_for('success_story') }}">College Student Success Story</a></li>
      <a href="{{ url_for('general') }}">Previous Page</a>
    </ul>
</body>
</html>
