<!DOCTYPE html>
<html>
<head>
    <title>Guest Controls</title>
</head>
<body>
  </h2>Select your preferences:</h2>
  <form action="{{ url_for('privacyPolicy', username=username)}}" method="post">
    <input type="checkbox" id="email" name="email" {% if not preferences['Email'] %} checked {% endif %}>
      <label for="email">Email</label><br>
      <input type="checkbox" id="sms" name="sms" {% if not preferences['SMS'] %} checked {% endif %}>
      <label for="sms">SMS</label><br>
      <input type="checkbox" id="advertising" name="advertising" {% if not preferences['Advertising'] %} checked {% endif %}>
      <label for="advertising">Targeted Advertising</label><br>
      <label for="language">Language:</label>
      <select id="language" name="language">
        <option value="English" {% if preferences['Language'] == 'English' %} selected {% endif %}>English</option>
        <option value="Spanish" {% if preferences['Language'] == 'Spanish' %} selected {% endif %}>Spanish</option>
      </select><br>
      <input type="submit" value="Save Preferences">
      <br><a href="{{ url_for('index') }}"> Home Page</a>
    </form>
</body>
</html>